<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.encharity.encharity_v1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientDetailsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MissionActivity" />
        <activity android:name=".temp.PaymentDetailsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".AllInvestmentsActivity" />
        <activity android:name=".AllStatusUpdatesActivity" />
        <activity android:name=".archive.ArchiveActivity" />
        <activity android:name=".archive.ArchiveDetailsActivity" />
        <activity android:name=".blog.BlogActivity" />
        <activity android:name=".blog.BlogDetailsActivity"></activity>
    </application>

</manifest>